[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-multipart = "*"
jinja2 = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
fastapi = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
