<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Otoczka wypukła</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Otoczka wypukła</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
        <!-- content wrapper -->
        <div class="container">
            <main>
				<header>
					<div class="row justify-content-center m-5">
						<div class="col-sm-12 col-lg-8  text-center">
							<h1>Algorytm otoczki wypukłej</h1>
						</div>
					</div>
				</header>
                <div class="row justify-content-center p-3">
					<div class="col-sm-12 col-lg-8 border border-bottom-0 border-primary border-2 rounded-top p-3" >
						<h5>Wpisz współrzędne punktów:</h6>
					</div>
					<div class="col-sm-12 col-lg-8 border border-primary border-2 rounded-bottom mb-4">
						<form method="POST" class="needs-validation">
							
                    		<div class="mb-2 mt-2">
								<div id="passwordHelpBlock" class="form-text">
  									współrzędne punktów muszą być liczbami całkowitymi lub ułamkami dziesiętnymi, oddzielone przecinkiem, bez spacji
								</div>
                    		    <label class="form-label" for="point1">punkt nr 1:</label>
                    		    <input class="form-control" type="text" name="point1" placeholder="np. 1.5,2" required
                    		        pattern="([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?,([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?"
                    		    />
							</div>	
                    		<div class="mb-2">
                    		    <label class="form-label" for="point2"> punkt nr 2:</label>
                    		    <input class="form-control" type="text" name="point2" placeholder="np. 1.5,2"
                    		        pattern="([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?,([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?"
                    		    />
								
                    		</div>
                    		<div class="mb-2">
                    		    <label class="form-label" for="point3"> punkt nr 3:</label>
                    		    <input class="form-control" type="text" name="point3" placeholder="np. 1.5,2"
                    		        pattern="([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?,([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?"
                    		    />
								
                    		</div>
                    		<div class="mb-3">
                    		    <label class="form-label" for="point4">punkt nr 4:</label>
                    		    <input class="form-control" type="text" name="point4" placeholder="np. 1.5,2"
                    		        pattern="([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?,([+-]?(?=\.\d|\d)(?:\d+)?(?:\.?\d*))(?:[eE]([+-]?\d+))?"
                    		    />
                    		</div>
                    		<div class="mb-2">
                    		    <button class="btn btn-primary" type="Submit" >Oblicz</button>
                    		</div>
                		</form>
					</div>
					{% if punkty %}
					<div class=" col-sm-12 col-lg-8 p-0">
						<div class=" card text-bg-light mb-3">
  							<div class="card-header">Wprowadzone punkty:</div>
  							<div class="card-body">
    							{{ punkty|safe }}
								<div class="text-center">
									<img class="img-fluid rounded mx-auto" src="data:image/png;base64,{{ punkty_wykres }}" alt="graph" />
								</div>
  							</div>
						</div>	
					</div>
					{% endif %}	
					{% if posortowane_punkty  %}
					<div class=" col-sm-12 col-lg-8 p-0">
						<div class=" card text-bg-light mb-3">
  							<div class="card-header">Posortowane punkty:</div>
  							<div class="card-body">
    							{{ posortowane_punkty|safe }}
								<div class="text-center">
									<img class="img-fluid rounded mx-auto" src="data:image/png;base64,{{ posortowane_punkty_wykres }}" alt="graph" />
								</div>
  							</div>
						</div>	
					</div>
					{% endif %}		
					{% if zbior_cosinusow  %}
					<div class=" col-sm-12 col-lg-8 p-0">
						<div class=" card text-bg-light mb-3">
  							<div class="card-header">zbiór_cosinusów:</div>
  							<div class="card-body">
    							{{ zbior_cosinusow|safe }}
								<div class="text-center">
									<img class="img-fluid rounded mx-auto" src="data:image/png;base64,{{ zbior_cosinusow_wykres }}" alt="graph" />
								</div>
  							</div>
						</div>	
					</div>
					{% endif %}				
					{% if otoczka_wykres  %}
					<div class=" col-sm-12 col-lg-8 p-0">
						<div class=" card text-bg-light mb-3">
  							<div class="card-header">Otoczka wypukła:</div>
  							<div class="card-body">
								<div class="text-center">
									<img class="img-fluid rounded mx-auto" src="data:image/png;base64,{{ otoczka_wykres }}" alt="graph" />
								</div>
  							</div>
						</div>	
					</div>
					{% endif %}					                	
            	</div>
            </main>
        </div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
